/* grid-display.css */

.grid-display-main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    gap: 10px; /* Space between grid items */
    padding: 10px;
}

@media (max-width: 1024px) {
    .grid-display-main-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
}

.grid-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #d72cf9; /* Background color for visualization */
    border: 1px solid #ccc; /* Border for visualization */
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.medium-grid-item {
    padding-top: calc(9 / 16 * 100%); /* 16:9 aspect ratio */
    grid-row: span 16; /* Span 16 rows (16 * 10px = 160px height) */
}

.tall-grid-item {
    padding-top: calc(3 / 4 * 100%); /* 4:3 aspect ratio */
    grid-row: span 24; /* Span 24 rows (24 * 10px = 240px height) */
}

.grid-item > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}