/* grid-display.css */




.recent-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.recent-projects-container h1 {
    width: 100%
   
}

@media (min-width: 1200px) {
    .recent-projects-container h1 {
        width: 500px;
        padding: 1rem 8%;
    }
    .grid-display-section {
        padding: 3rem var(--padding-xlarge);

    }


    .recent-projects-container {


        text-align: left;
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);

    }



}






.grid-display-main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* 3 columns of equal width */
    gap: 10px;
    /* Space between grid items */
    padding: 10px;
}


@media (min-width: 1200px) {
    .grid-display-main-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem 8%;
    }
}


.grid-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #d72cf9;
    /* Background color for visualization */
    border: 1px solid #bababa;
    /* Border for visualization */
    border-radius: 4px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.medium-grid-item {
    padding-top: calc(9 / 16 * 100%);
    /* 16:9 aspect ratio */
    grid-row: span 16;
    /* Span 16 rows (16 * 10px = 160px height) */
}

.grid-item>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* UNUSED BUT MAYBE BRING BACK LATER I DUNNO 
.tall-grid-item {
    padding-top: calc(3 / 4 * 100%);

    grid-row: span 24;

}
*/