.button-circle {
  appearance: none; /* Remove native button styling */
  border: none;     /* Remove default border */
  outline: none;    /* Remove focus outline */
  background: none; /* Remove background color */
  padding: 0;       /* Remove default padding */
  margin: 0;        /* Remove default margin */

  /* Your custom styles */
  height: 40px;
  width: 40px;
  background-color: var(--button-background-black);
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

  .button-circle.cog{
    z-index: 10;
  }
  .button-circle.tree{
    z-index: 9;
  }
  .button-circle.spider{
    z-index: 6;
  }

