.button-circle {
    appearance: button;
    height: 40px;
    width: 40px;
    background-color: rgb(17, 17, 17);

    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensures the icon doesn't overflow */
    padding: 0;
    margin: 0;
  }

  .button-circle.cog{
    z-index: 10;
  }
  .button-circle.tree{
    z-index: 9;
  }

