/* Main container settings */
.hero-main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100dvh;
    box-sizing: border-box;
}

/* Hero text container settings */
.hero-text-container {
    flex: 1; /* Flex value 1 ensures it takes equal space with hero-video-container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  
  
}
.hero-text-content{
    padding-left: 10%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* Hero video container settings */
.hero-video-container {
    flex: 1; /* Flex value 1 ensures it takes equal space with hero-text-container */
    display: flex;
    justify-content: center;
    align-items: center;


}
.component-card-container{
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.horizontal-line{
    width: 100%;
   
    border-top: 1px solid rgb(173, 173, 173)
    
}
.component-card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

/*COMPONENT SECTION*/
.cs-main-container{
    display: flex;
    flex-direction: column;

    padding: 20% 5%;
    gap: 0.5rem;
}
.display-container {
    background-color: darkmagenta;
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    border-radius: 10px;
  }
  
  .breadcrumb-container h6{
    color: var(--medium-text);
  }
