.home-main-container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  
}


.home-hero-main-container {
    height: 100dvh;
    background-color: aquamarine;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image{
    width: 100%;
    display: flex;
    justify-content: center;
   
}


.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
}
.hero-text h5,
.hero-text h2,
.hero-text p {
    width: 100%;
    margin: 0;
}

/* CONTAINERS */
.default-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }



/* POINTER CSS */
.pointer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.pointer-line, .pointer-line2{
    width: 25%;
    height:1px;
    border-width:0;

    background-color:#000000;
    margin-left: 0;
    margin-right: 0;
   
}
.pointer-line2{
    width: 100%;
 
   
}
.pointer-arrow {
    margin: 5px 0; /* Adjust to control spacing between arrow and lines */
  
    fill: black; /* Adjust the color of the arrow */
}
.pointer-container p{
    margin-right: 10px;
    font-weight: 800;
}



