.project-container{
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
}

.project-container p{
    color: rgb(87, 87, 87);
    padding: 1rem 0;
}

.inner-container2 h6{
    color: var(--brand-color);
}



.technologies-section {
    margin-top: 0;
}

.icons-container {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0 2rem 0;

}

.tech-icon {
    width: 50px;
    height: 50px;
}