  /************ CARD STYLES *****************/
  .card-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;/* Space between card image and text */
    color: var(--dark-text);
  }
  
  @media (max-width: 1024px) {
    .card-container {

    }
  }
  
  @media (max-width: 768px) {
    .card-container {

    }
  }
  
  .card-image {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2; /* Maintain 3:2 aspect ratio */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
  }
  
  .card-container h2 {
    margin-top: 0;
  }

