.contactform-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem var(--padding-small);
    gap: 0.5rem;
  
    text-align: center;

    background-color: rgb(227, 6, 6);


}
.inner-contact-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;

}

@media(min-width: 1200px){
    .inner-contact-form-container{

        max-width: 500px;
    }
}

.contactform-container h4, .contactform-container p{
    color: white;
}
.contactform-container p{
    font-weight: 600;
}