@import "~locomotive-scroll/dist/locomotive-scroll.css";
/* layout.css */
/* Global style settings */
:root {
    --background-color: #F3F3F3; /* Light gray for general backgrounds */
    --brand-color: #e54927; /* Bright blue for brand-specific elements */
    --dark-text: #30353D; /* Nearly black for dark text */
    --medium-text: #677282; /* Very light gray for light text */
    --light-text: #7E899A; /* Pure white for the lightest text */
}

/* Set the root element to take up the full width and height of the viewport */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

  }
  


/* Set the body element to have a minimum height of the viewport */
body {
    min-height: 100vh;
}

/* Set the background color to red */
body {
    background-color: var(--background-color);

}




/*TYPOGRAPHY*/
h1, h3, h4, h5, h6 {
    font-family: "almarai", sans-serif;
    margin: 0;
    padding: 0;
  }
  h1 { font-size: 2.2rem; }
  h3 { font-size: 1.1rem; }
  h4 { font-size: 0.95rem; }
  h5{ font-size: 0.8rem;}
  h6 { font-size: 0.55rem; }




.debug{
    border: 1px solid greenyellow;
}
.debug2{
    border: 1px solid rgb(255, 0, 200);
}
.navbar-container {
    position: fixed; /* or position: sticky; for sticky behavior */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Center content horizontally */
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    background-color: white;
    width: 90%; /* Adjust width to fit within padding */
    max-width: 1200px; /* Optional: Max width for better control */
    border-radius: 6px;
    box-shadow: 0 6px 14px 0 rgba(36, 41, 45, 0.05);
    box-sizing: border-box;
  }
  
  .navbar-container.hidden {
    transform: translateY(-125%);
  }
  
  .navbar-container.visible {
    transform: translateY(0);
  }
.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: var(--dark-text);
}
.circle{
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;


}
.CTA{
    border-radius: 6px;
    background-color: var(--brand-color);
    border: 0;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;
    outline: transparent;
    text-decoration: none;

    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.CTA:hover{
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.mail-svg{
    width: 20px;
    height: auto;


}

.image-container {
    margin-top: 5rem;
    width: 100%; /* Full width of the viewport */
    max-width: 100%;
    height: 75vh; /* Maximum height of the container */
    padding: 0 5%; /* Padding reduces the space for the child */
    box-sizing: border-box; /* Includes padding and border in the dimensions */
    display: flex;
    align-items: center; /* Centers children vertically */
    justify-content: center; /* Centers children horizontally */
    position: relative; /* For positioning children absolutely inside if needed */
    
}
@media (max-width: 1024px) {
    .image-container {
      margin-top: 2.2rem;
        height: 35vh;
    }
}
@media (max-width: 768px) {
    .image-container {
        margin-top: 0.5rem;
        height: 25vh;
    }
}

.background-image {
    background-color: aquamarine;
    background-size: cover;  /* Cover the entire area of the div */
    background-position: 50% -15vh; /* Horizontal center, 10vh from the top of the viewport */
    background-repeat: no-repeat;  /* Do not repeat the image */
    background-attachment: fixed;
    width: 100%; /* Full width, respecting container's padding */
    height: 100%; /* Full height, respecting container's padding */
    display: flex;
    align-items: center; /* Center the SVG vertically */
    justify-content: center; /* Center the SVG horizontally */
    padding: 7% 10% 20% 10%; /* Inner padding for content */
    box-sizing: border-box; /* Padding included in the dimensions */
    position: relative;
    border-radius: 20px;
    box-shadow: 0 6px 14px 0 rgba(36, 41, 45, 0.05);
}
@media (max-width: 1024px) {
    .background-image {
        background-position: 50% -19vh; /* Horizontal center, 10vh from the top of the viewport */
        padding: 0% 10% 0% 10%; /* Inner padding for content */
    }
}
@media (max-width: 768px) {
    .background-image {
        background-position: 50% -32vh; /* Horizontal center, 10vh from the top of the viewport */
        padding: 0% 10% 0% 10%; /* Inner padding for content */
    }
}

.journal-svg {
    width: 70%; /* Width relative to its parent `.background-image` */
    height: auto; /* Keeps the aspect ratio of the SVG */
    fill: var(--dark-text);
}
.journal-svg .cls-1 {
    fill: var(--dark-text) !important;
  }


@media (max-width: 768px) {
    .journal-svg {
        width: 125%;
    
    }
}

.quote-container {
    margin-top: 10.5%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    gap: 44px;
}
.quote-container h4 {
    color: var(--dark-text);
    font-weight: 400;
}

.quote-svg {
    max-width: 70%;
    height: auto;
   
}
@media (max-width: 1024px){
    .quote-svg {
        max-width: 100%;
    }

}
/* Blog post container styles using Flexbox */
.blog-post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 5%;
  }
  
  @media (max-width: 1024px) {
    .blog-post-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .blog-post-container {
        grid-template-columns: 1fr;
    }
}
  /************ CARD STYLES *****************/
  .card-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;/* Space between card image and text */
  }
  
  @media (max-width: 1024px) {
    .card-container {

    }
  }
  
  @media (max-width: 768px) {
    .card-container {

    }
  }
  
  .card-image {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2; /* Maintain 3:2 aspect ratio */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
  }
  
  .card-container h2 {
    margin-top: 0;
  }

  /* Footer styles */
.footer {
    margin-top: 11%;
    background-color: white;
    padding: 0.7rem 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -6px 14px 0 rgba(36, 41, 45, 0.05);
    color: var(--light-text);
  }
  .footer-content{
    display: flex;
    flex-direction: row;
    gap: 1rem;


  }
  .footer-content h5{
    font-weight: 200;
    color: var(--medium-text);
  }